{% extends 'base.html' %}



{% block content %}
<main>
    <div class="search">
        <input type="text">
        <button type="submit">검색</button>
    </div>
    <div class="h_img">
        <img src="./homeImg/bobd.png">
        <img src="./homeImg/bobd2.png">
        <img src="./homeImg/logo.png">
    </div>

    <div class="member">
        <ul>
            <li>이민경</li>
            <li>김나희</li>
            <li>박규리</li>
            <li>현소정</li>
        </ul>
    </div>
</main>

{% endblock %}