<!DOCTYPE html>
<html lang="en">


{% load static %}
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="{% static '/home.css' %}">
</head>
<body>
<header>
    <div class="h_login">
        <a href="#로그인">로그인</a>
        <a href="#회원가입">회원가입</a>
    </div>
    <h1>BOB.D</h1>
    <hr>
</header>
<main>
    <div class="search">
        <input type="text">
        <button type="submit">검색</button>
    </div>
    <div class="h_img">
        <img src="./homeImg/bobd.png">
        <img src="./homeImg/bobd2.png">
        <img src="./homeImg/logo.png">
    </div>
</main>
<footer>
    <div class="member">
        <ul>
            <li>이민경</li>
            <li>김나희</li>
            <li>박규리</li>
            <li>현소정</li>
        </ul>
    </div>
</footer>
</body>
</html>