<div>
    <div style="float: right;">
    {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:home' %}">
            <span>SignUp</span>
        </a>
        {% else %}
        <!--<a href="{% url 'accountapp:detail' pk=user.pk %}" class="pragmatic_header_nav">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="pragmatic_header_nav">
            <span>logout</span>
        </a>-->
        {% endif %}
    </div>
    <a href="{% url 'accountapp:home' %}">
        <h1>BOB.D</h1>
    </a>
    <hr>
</div>